#app3{

}
#app3 .square{
    width: 10vw;
    height: 10vw;
    margin-top: 2vw;
    margin-left: 2vw;
    border:2px solid lightseagreen;
    transition: transform 1s;
}
#app3 .square.active{
    transform:translateX(20vw);
}